.select-type-doc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.doc-element-title {
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.box-of-input {
    position: relative;
}

.input-animation {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.2s;
    background: transparent;
    outline: none;
}

.input-animation:focus {
    border: 1px solid black;
}

.box-of-input span{
    position: absolute;
    top: -11px;
    left: 20px;
    padding: 0;
    pointer-events: none;
    transition: 0.4s;
    background-color: white;
}

.btn-no-name {
    border: none;
    background: transparent;
    font-size: 30px;
}

.text-y-center {
    padding: 6px;
    font-weight: 500;
    font-size: 18px;
}

.enter-more-info {
    overflow: hidden;
    max-height: 2000px;
    transition: max-height 0.3s ease-in-out;
}

.svernut {
    max-height: 0;
}

.table-border td {
    border: 1px solid black;
}

.backround-tr td {
    background-color: #dddddd;
}

.table-action-btn {
    font-size: 20px;
}

/* Add field ----------------------------------------------------------------------------------------------- */

.row-add-flied {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.357);
    padding: 10px 0;
}

.index {
    width: 3%;
    text-align: center;
}

.index span {
    font-size: 20px;
}

.input-addfield {
    width: 75%;
}

.btn-actions {
    width: 15%;
    text-align: end;
}

.add-field-text-area {
    width: 95%;
    text-align: center;
}

/* Empowerment doc create ----------------------------------------------------------------------------------------------- */

.doubled {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.required {
    border: 1px solid red; /* You can adjust the styling as needed */
}

/* @media screen and (max-width: 600px) {
    .doubled-input {
        width: 100%;
    }
}

@media screen and (min-width: 601px) {
    .doubled-input {
        width: calc(100% / 2 - 20px);
    }
} */