.select-type-doc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.doc-element-title {
    font-size: 18px;
    margin: 0;
    font-weight: 500;
}

.box-of-input {
    position: relative;
}

.input-animation {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    transition: 0.4s;
    background: transparent;
    outline: none;
}

.input-animation:focus {
    box-shadow: 0 0 5px 0.1px black;
}

.box-of-input span {
    position: absolute;
    top: -11px;
    left: 20px;
    padding: 0;
    pointer-events: none;
    transition: 0.4s;
    background: #f7f8f9;
}

.btn-no-name {
    border: none;
    background: transparent;
    font-size: 30px;
}

.text-y-center {
    padding: 6px;
    font-weight: 500;
    font-size: 18px;
}